################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/src/platform/.vs/YourProjectName.Foundation.Security
/src/platform/Foundation/Security/YourProjectName.Foundation.Security/.vs/
/src/platform/packages
/.vs/sitecore-jss-msal1/v16
