<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<!--Item resolver pipeline for authentication, 404 , 401-->
		<pipelines>
			<mvc.requestBegin>
				<processor type="YourProjectName.Foundation.Security.Pipelines.AuthorizeContextItemResolver, YourProjectName.Foundation.Security" resolve="true"
						   patch:instead="processor[@type='Sitecore.LayoutService.Mvc.Pipelines.RequestBegin.ContextItemResolver, Sitecore.LayoutService.Mvc']"/>
			</mvc.requestBegin>
		</pipelines>
		<settings>				
			<setting name="YourProjectName.Foundation.Security.AzureAuthorizationEnabled" value="true" />
			<setting name="YourProjectName.Foundation.Security.AzureAudience" value="AzureAudience" />
			<setting name="YourProjectName.Foundation.Security.ValidateAudience" value="true" />
			<setting name="YourProjectName.Foundation.Security.AzureClientId" value="AzureClientId" />
			<setting name="YourProjectName.Foundation.Security.AzureTenantId" value="AzureTenantId" />
			<setting name="YourProjectName.Foundation.Security.AzureAuthority" value="https://login.microsoftonline.com/AzureTenantId/v2.0" />			
		</settings>
	</sitecore>
</configuration>